/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */



.root {
	
	-fx-background-color: #696969;
}

.flow-tile {

}

.vbox {
	-fx-font-family: "Arial";
	-fx-font-size: 20px;
	-fx-font-weight: bold;
}

.hbox {
	-fx-font-family: "Arial";
	-fx-font-size: 48px;
	-fx-font-weight: bold;
}

.listview{
	-fx-border-style: solid;
	-fx-border-width: 3;
}

.button {
	-fx-font-family: "Arial";
	-fx-font-size: 20px;
	-fx-font-weight: bold;
	-fx-background-color: rgb(128,128,128);
	-fx-min-height: 50;
	-fx-pref-width: 180;
	-fx-border-style: solid;
	-fx-border-width: 3;

} 
.vboxaddtask {
	-fx-font-family: "Arial";
	-fx-font-size: 16px;
	-fx-font-weight: bold;
} 